node_modules
*.log
**/log
*.orig
**/cypress/videos
**/cypress/screenshots
.vscode/settings.json
**/cypress/report
npm_install_debug.log
**/build_results.txt
**/usage.log
**/browserstack-cypress-report.html
**/browserstack-cypress-report.json