node_modules
*.orig
**/cypress/videos
**/cypress/screenshots
.vscode/settings.json
**/cypress/report
npm_install_debug.log
**/log/build_results.txt
**/log/usage.log
**/browserstack-cypress-report.html
**/browserstack-cypress-report.json
